 <style>
      .box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	border-radius:3px;
	padding:50px 100px;
	background-color:rgba(255, 35, 189, 0.2);

}
 </style>

 <div class="box">
  <h1>Book Tour - {{ tour.name }}</h1>
  <form method="post">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <br>
    <label for="phone">Phone:</label>
    <input type="text" name="phone" required>
    <br>
    <label for="date">Date:</label>
<input type="date" name="date" required>
<br>
<label for="num_people">Number of People:</label>
<input type="number" name="num_people" min="1" max="10" required>
<br>
<input type="submit" value="Book Now">
    </div>